{% extends "base.html" %}
{% load static %}
<!DOCTYPE html> <!-- Используется html 5 версии -->
<html lang="ru"> <!-- Язык сайта - русский -->
<head>
    {% block title %}
        <title>{{ title }}</title>
    {% endblock title %}
</head>
<body>
<header>
    {% block content %}
        <!-- Использованы классы бустрапа для создания типовой навигации с логотипом -->


        </header>
        <main>
            <!-- класс py-5 создает отступы сверху и снизу блока -->
            <div class="container py-5">
                <h1>{{ title }}</h1>
                <p>
                    {{ description }}
                </p>
                {% for post in posts %}
                    <article>
                        <ul>
                            <li>Автор: {{ post.author.get_full_name }}</li>
                            <li>Дата публикации: {{ post.pub_date|date:"d F Y" }}</li>
                        </ul>
                        <p>{{ post.text }}</p>


                    </article>
                    {% if not forloop.last %}
                        <hr>
                    {% endif %}
                {% endfor %}

            </div>

        </main>
        </body>
    {% endblock content %}
